<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214187420076-dq57du70iaiah8kep33tkpis3t41ihg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214187420076-dq57du70iaiah8kep33tkpis3t41ihg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCQr7AtxRiy3B5ItdVCDb4b7CKwvmfc6aE</string>
	<key>GCM_SENDER_ID</key>
	<string>214187420076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beapeu.FireStorageBasic</string>
	<key>PROJECT_ID</key>
	<string>firestorage-test-252e4</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorage-test-252e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214187420076:ios:19602204ac09e3c3e47209</string>
</dict>
</plist>