<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181381209225-j6o5rsn708oqt211cj50pf2q89gjbqq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181381209225-j6o5rsn708oqt211cj50pf2q89gjbqq0</string>
	<key>API_KEY</key>
	<string>AIzaSyAxlLDECygBkIOG2JAJNMZYGV4xVBq8RGY</string>
	<key>GCM_SENDER_ID</key>
	<string>181381209225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beapeu.FBLoginBasic</string>
	<key>PROJECT_ID</key>
	<string>fblogin-test-4283a</string>
	<key>STORAGE_BUCKET</key>
	<string>fblogin-test-4283a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181381209225:ios:4a8fd14e1bc49d04603a58</string>
</dict>
</plist>